node_modules/
.cache/
.wrangler/
.env
.env.development
.env.production
.env.production.develop
.env.production_develop
public
content
configuration.sh
deploy_log.txt
wip - carina miras.txt
package-lock.json
*.log
generated-assets/
